
  
// colors
$color-light: #fff;
$color-dark: #000;

$color-text: #1E3046;
$color-bg: #F6F7FB;

$color-main: #1E3046;
$color-second: #1F698B;

$color-lines: #1E3046;


// fonts 
$font-main: 'Montserrat', sans-serif;


//animate
$transition: all 0.5s;