.about {
    background-image: url(../images/radca-prawny-sylwia-durka-about.jpg);
    background-size: cover;
    background-position: 0;
    padding: 60px 15px;
    margin-bottom: 130px;
    position: relative;

    @include sm {
        background-position: 20%;
    }

    @include md {
        height: 1000px;
        padding: 100px 50px;

    }

    @include lg {
        background-position: center;
    }

    .about-top {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: center;

        @include sm {
            text-align: left;
        }
    }

    .button {
        margin: 42px auto 0;

        @include sm {
            margin: 42px 0 0;
        }
    }

    * {
        color: $color-light;
    }
}

.aboutMain {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $color-bg;
        z-index: -2;

    }

    .aboutMain-inner {
        padding: 20px;

        @include sm {
            padding: 50px;
        }

        @include lg {
            padding: 100px 120px;
        }

        .aboutMain-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 30px;

            @include lg {
                margin-bottom: 0;
            }

            .text-main {
                margin-top: 35px;
                padding-right: 0;

                @include sm {
                    padding-right: 30px;
                }
            }
        }

        .about-main-photo {
            width: 100%;
            height: auto;
        }
    }
}