.contact {


    .contact-bg {
        background-color: $color-main;
        padding: 40px 25px;

        @include lg {
            padding: 60px 100px;
        }
    }

    *,
    a,
    p,
    .title-top,
    .title-main {
        color: $color-light;
    }

    .contact-title {
        text-align: center;

        @include md {
            text-align: left;
        }
    }

    .contact-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
        text-align: center;

        @include md {
            flex-direction: row;
            align-items: center;
            margin-top: 50px;
            align-items: flex-start;
            text-align: left;
        }

        @include xl {
            margin-top: 0;
        }

        .contact-icon {
            height: 20px;
            width: auto;
            margin-top: 15px;
            margin-bottom: 40px;

            @include sm {
                margin-top: 40px;
            }

            @include lg {
                margin-top: 0;
            }
        }

        .title-inner {
            margin-bottom: 10px;

            @include sm {
                margin-bottom: 20px;
            }
        }

        p {
            font-size: 12px;
            margin-bottom: 0;
        }
    }
}

.contact-position {
    position: relative;
    width: 100%;
    transform: translateY(130px);

    @include md {
        position: absolute;
        width: calc(100% - 50px);
        bottom: -70px;
        left: 50%;
        transform: translateX(-50%);
    }


}

.contact-small {
    margin: 0 30px 50px;

    @include lg {
        margin: 0 116px 50px;
    }
}