.footer {
    background-color: $color-bg;
    padding: 0 20px;

    @include sm {
        padding: 0 60px;
    }

    @include xl {
        padding: 0 100px;
    }

    .footer-inner {
        padding: 50px 0;

        .footer-img {
            margin-bottom: 30px;
            text-align: center;

            @include lg {
                text-align: left;
                margin-bottom: 0;
            }

            .logo {
                width: 270px;
                height: auto;
            }
        }

        .menu-container {
            align-items: center;
            justify-content: center;
            display: flex;
            padding: 0 30px;

            .menu {
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                width: 100%;

                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 0;

                    a {
                        color: $color-main;

                    }
                }
            }
        }

        .button {
            margin: auto;
            margin-top: 30px;
            text-align: center;

            @include lg {
                margin: unset;
                margin-top: 0;
                text-align: left;
            }
        }
    }

    .footer-line {
        border: 1px solid $color-main;
        opacity: 0.08;
    }

    .footer-copy {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $color-main;
        font-weight: 400;
        padding: 50px 0;
        flex-direction: column;

        @include lg {
            flex-direction: row;
        }

        .links {
            font-size: 12px;
            opacity: 0.65;

            a {
                font-size: 12px;
                color: $color-main;
                font-weight: 500;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .copy {
            font-size: 12px;
            color: $color-main;
            font-weight: 500;
        }
    }
}