.header {
    .header-bg {
        position: relative;
        background-image: url('../images/radca-prawny-sylwia-durka-header.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        padding: 20px;

        @include md {
            padding: 50px;
        }

        .navbar {

            .navbar-collapse {
                justify-content: flex-end;
            }

            ul.menu li a {
                color: $color-light;

                img {
                    margin-left: 10px;
                    height: 30px;
                }
            }
        }

        .navbar-scroll {
            position: fixed;
            top: 0;
            background-color: black;
            width: 100vw;
            left: 0;
        }

        .header-items {
            margin-top: 70px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .header-items-container {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                @include lg {
                    width: calc(50% - 15px);
                }


                .header-item {
                    border: 2px solid $color-light;
                    width: 100%;
                    height: 340px;
                    margin: 0;
                    position: relative;
                    padding: 30px 25px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    margin-bottom: 25px;

                    @include md {
                        width: calc(50% - 15px);
                        height: 600px;
                    }

                    &::before {
                        content: "";
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0;
                        position: absolute;
                        opacity: 0.2;
                        background-color: $color-light;
                        z-index: 0;

                    }

                    .header-item-icon {
                        height: 50px;
                        width: fit-content;
                        margin-bottom: 40px;
                        z-index: 1;
                    }

                    * {
                        color: $color-light;
                        z-index: 1;
                    }
                }

                .header-item1,
                .header-item2 {
                    height: 340px;

                    @include md {
                        height: 340px;
                    }
                }

                .header-item3 {
                    width: 100%;
                    height: 340px;
                    margin-bottom: 25px;

                    @include md {
                        height: 230px;
                        margin-top: 25px;
                    }

                    @include lg {
                        margin-bottom: 0;
                        margin-top: 0;
                    }
                }

                .header-item4,
                .header-item5 {

                    @include lg {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}


.header-small {

    .header-bg {
        background-position: center
    }

    .title {
        margin: 80px 0 60px;
        z-index: 2;

        .title-main,
        .site-map {
            color: $color-light;
            text-align: center;
            z-index: 2;
        }

        .site-map {
            font-size: 12px;
            font-weight: 400;
            color: $color-light;
            text-transform: uppercase;
            margin-top: 30px;
            letter-spacing: 8px;

            a {
                font-size: 12px;
                font-weight: 400;
                color: $color-light;
                text-transform: uppercase;
                margin-top: 30px;
                letter-spacing: 8px;

                &:hover {
                    letter-spacing: 12px;
                }
            }
        }
    }
}