.info {
    padding: 0px 20px 70px;

    @include sm {
        padding: 0px 50px 70px;
    }

    @include md {
        padding: 30px 50px 70px;
    }

    .title-top {
        margin-bottom: 20px;
        text-align: center;
        margin-top: 40px;

        @include sm {
            text-align: unset;

        }

        @include lg {
            margin-top: 0;
        }
    }

    .title-main {
        font-size: 26px;
        margin-bottom: 30px;
        text-align: center;

        @include sm {
            text-align: unset;
        }
    }

    .info-text {
        text-align: center;

        @include sm {
            padding-right: 35px;
            text-align: unset;
        }
    }

}