.offer {
    padding: 0 50px;
    position: relative;

    .offer-top {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .title-main {
            text-align: center;

            @include md {
                text-align: left;
            }
        }

        .text-main {
            padding-top: 20px;
            text-align: center;

            @include md {
                text-align: left;
            }

            @include lg {
                padding-right: 30px;
                padding-top: 0;

            }

        }
    }

    .offer-items {
        margin-top: 30px;
        margin-bottom: 60px;
        justify-content: center;

        .offer-item {
            text-align: center;
            padding: 0;
            margin-top: 80px;

            @include md {
                padding: 0 50px;
            }

            .title-inner {
                margin-bottom: 30px;
            }
        }
        
        /* Specjalizacje */
        .spec-item{
            text-align: left;
            padding: 0;
            margin-top: 80px;

            @include md {
                padding: 0 50px;
            }

            .title-inner {
                margin-bottom: 30px;
            }
        }
        
    }

    .bg-lines {
        top: -30%;
        height: 160%;

        .bg-line-inner {
            position: absolute;
            top: 36%;
            display: none;

            @include lg {
                display: block;
            }
        }

        .bg-inner-1 {
            top: unset;
            bottom: 5%;
        }


        .bg-inner-3 {
            top: unset;
            bottom: 26%;
        }

        .bg-inner-4 {
            top: unset;
            bottom: 32%;
        }
    }
}