// Base styles
head {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: $font-main;
    font-weight: 400;
    line-height: 1.2;
    @include reset;
    color: $color-text;
    background-color: $color-light;
    overflow-x: hidden;
    margin-top: 10px;
    position: relative;

    @include sm {
        margin-top: 25px;
    }

    @include xl {
        margin-top: 40px;
    }
}

h1 {
    font-size: 2em;
    font-weight: 500;
}

h2 {
    font-size: 1.5em;
}

p {
    font-size: 13px;
    line-height: 1.5;
}

ul {
    list-style-type: circle;
    padding: 0;
    margin: 0;
}

ul.menu {
    list-style-type: none;
    display: flex;
}

ul.menu li {
    display: flex;
    align-items: center;
    margin-left: 45px;
    justify-content: flex-end;
    height: 50px;

    @include lg {
        justify-content: flex-start;
        height: auto;
    }
}

ul.menu li a {
    text-transform: uppercase;
    color: $color-text;
    letter-spacing: 4px;
    font-size: 10px;
    font-weight: 600;
    transition: $transition;
}

ul.menu li:hover a {
    letter-spacing: 6px;
}

strong {
    font-weight: 700;
}

input:focus {
    outline: none;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: $color-main;
    transition: $transition;
}

a:hover {
    text-decoration: none;
    color: $color-main;
}

.speclist{
    padding-left: 20px;
    margin: 30px 0;
    list-style: initial;
    font-size: 13px;
}

a.more {
    color: $color-second;
    font-size: 12px;
    letter-spacing: 4px;
    font-weight: 600;
    text-transform: uppercase;
}

a.more:hover {
    letter-spacing: 8px;
}

.title-main {
    font-size: 30px;
    font-weight: 700;
    color: $color-main;
    margin-bottom: 0;
    text-align: center;

    @include sm {
        text-align: unset;
    }
}

h1.title-main {
    font-size: 34px;
}

@media (min-width:575px) {
    .title-main {
    font-size: 35px;
    font-weight: 700;
    color: $color-main;
    margin-bottom: 0;
    text-align: center;

    @include sm {
        text-align: unset;
    }
}

h1.title-main {
    font-size: 42px;
}
}

.title-top {
    font-size: 12px;
    color: $color-second;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 5px;
    margin-bottom: 30px;
    text-align: center;

    @include sm {
        text-align: unset;
    }
}

.title-inner {
    color: $color-text;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;

    @include sm {
        text-align: unset;
    }
}

.text-main {
    font-size: 13px;
    color: $color-text;
    line-height: 2;
    color: $color-main;
    margin-bottom: 0;
    text-align: center;

    @include sm {
        font-size: 15px;
        text-align: left;
    }
}



.section-margin {
    margin-left: 10px;
    margin-right: 10px;

    @include sm {
        margin-left: 30px;
        margin-right: 30px;
    }

    @include xl {
        margin-left: 50px;
        margin-right: 50px;
    }
}

.section-mrg-top {
    margin-top: 70px;
}

.logo {
    height: 27px;
    width: auto;

    @include md {
        height: 50px;
    }
}

.logo-white,
.icon-light {
    filter: brightness(100);
}

.button {
    text-decoration: none;
    background-color: $color-main;
    color: $color-light;
    font-weight: 500;
    font-size: 11px;
    letter-spacing: 5px;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: fit-content;
    transition: $transition;
    border: 2px solid $color-main;
    line-height: 1.4;

    &:hover {
        background-color: transparent;
        color: $color-main;
        letter-spacing: 8px;
    }
}

a.button {
    color: $color-light;
}

.button-transparent {
    background-color: transparent;
    border: 2px solid $color-light;
    width: fit-content;

    &:hover {
        letter-spacing: 8px;
        color: $color-light;
    }
}

.bg-lines {
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    padding: 0 30px;

    top: 0;
    left: 0;

    @include sm {
        padding: 0 100px;
    }

    .bg-line {
        width: 1px;
        height: 100%;
        background-color: rgba(30, 48, 70, 0.05);

        .bg-line-inner {
            width: 2px;
            height: 200px;
            background-color: $color-second;
            opacity: 0.5;
        }
    }
}

.contact-main{
    margin-top:35px;
}
.form-group {
    .form-control {
        height: 34px;
    } 
    
} 
.privacy{
        display: flex;
    margin-top: 15px;
        label{
            margin-left: 10px;
        }
    }

@media (min-width:575px) {
    .map{
    max-width: 97%;
    margin: 0 auto;
}
}

.offer-icon{
    margin-bottom: 16px;
} 
